html,
body {
  width: 100%;
  height: 100%;
  background: #a79ab5;
}
a:link,
a:visited {
  color: #000;
}
main {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -300px;
}
svg {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -250px;
}
#skin {
  transition: fill 0.5s;
}
.globieParts {
  cursor: pointer;
}
.blush {
  fill: #f00;
}
footer {
  display: block;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
footer .fa {
  font-size: 40px;
  margin: 10px 5px;
  padding: 8px;
}
footer .fa-envelope {
  transform: scale(0.9);
}
footer a:link {
  transition: color 0.2s;
}
footer a:hover {
  color: #ffdfdd;
}
