.u-hidden {
  display: none !important;
  visibility: hidden;
}
.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.u-visuallyhidden.u-focusable:active,
.u-visuallyhidden.u-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.u-invisible {
  visibility: hidden;
}
.row:before,
.row:after,
.u-cf:before,
.u-cf:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.row:after,
.u-cf:after {
  clear: both;
}
html {
  overflow-y: scroll;
}
.u-inline-block {
  display: inline-block;
}
ul.u-inline-list li {
  display: inline-block;
}
.u-fixed {
  position: fixed;
}
.u-pointer:hover {
  cursor: pointer;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.u-held {
  display: table-cell;
  vertical-align: middle;
}
@font-face {
  font-family: 'Liberation Serif';
  src: url("fonts/subset-LiberationSerif-Italic.eot");
  src: url("subset-LiberationSerif-Italic.eot?#iefix") format('embedded-opentype'), url("subset-LiberationSerif-Italic.woff2") format('woff2'), url("subset-LiberationSerif-Italic.woff") format('woff'), url("subset-LiberationSerif-Italic.ttf") format('truetype'), url("subset-LiberationSerif-Italic.svg#LiberationSerif-Italic") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Cotham Sans IGV Version';
  src: url("fonts/subset-CothamSansIGVVersion-Regular.eot");
  src: url("fonts/subset-CothamSansIGVVersion-Regular.eot?#iefix") format('embedded-opentype'), url("fonts/subset-CothamSansIGVVersion-Regular.woff2") format('woff2'), url("fonts/subset-CothamSansIGVVersion-Regular.woff") format('woff'), url("fonts/subset-CothamSansIGVVersion-Regular.ttf") format('truetype'), url("fonts/subset-CothamSansIGVVersion-Regular.svg#CothamSansIGVVersion-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bagnard';
  src: url("fonts/subset-Bagnard.eot");
  src: url("fonts/subset-Bagnard.eot?#iefix") format('embedded-opentype'), url("fonts/subset-Bagnard.woff2") format('woff2'), url("fonts/subset-Bagnard.woff") format('woff'), url("fonts/subset-Bagnard.ttf") format('truetype'), url("fonts/subset-Bagnard.svg#Bagnard") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1272px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  min-height: 1px;
}
.col-1 {
  width: 90px;
}
.col-2 {
  width: 196px;
}
.col-3 {
  width: 302px;
}
.col-4 {
  width: 408px;
}
.col-5 {
  width: 514px;
}
.col-6 {
  width: 620px;
}
.col-7 {
  width: 726px;
}
.col-8 {
  width: 832px;
}
.col-9 {
  width: 938px;
}
.col-10 {
  width: 1044px;
}
.col-11 {
  width: 1150px;
}
.col-12 {
  width: 1256px;
}
.percent-col {
  float: left;
  box-sizing: content-box;
}
.s-into-1 {
  width: 100%;
}
.s-into-2 {
  width: 50%;
}
.s-into-3 {
  width: 33.333333333333336%;
}
.s-into-4 {
  width: 25%;
}
.s-into-5 {
  width: 20%;
}
.s-into-6 {
  width: 16.666666666666668%;
}
.s-into-7 {
  width: 14.285714285714286%;
}
.s-into-8 {
  width: 12.5%;
}
.s-into-9 {
  width: 11.11111111111111%;
}
.s-into-10 {
  width: 10%;
}
@media screen and (min-width: 601px) {
  .m-into-1 {
    width: 100%;
  }
  .m-into-2 {
    width: 50%;
  }
  .m-into-3 {
    width: 33.333333333333336%;
  }
  .m-into-4 {
    width: 25%;
  }
  .m-into-5 {
    width: 20%;
  }
  .m-into-6 {
    width: 16.666666666666668%;
  }
  .m-into-7 {
    width: 14.285714285714286%;
  }
  .m-into-8 {
    width: 12.5%;
  }
  .m-into-9 {
    width: 11.11111111111111%;
  }
  .m-into-10 {
    width: 10%;
  }
}
@media screen and (min-width: 993px) {
  .l-into-1 {
    width: 100%;
  }
  .l-into-2 {
    width: 50%;
  }
  .l-into-3 {
    width: 33.333333333333336%;
  }
  .l-into-4 {
    width: 25%;
  }
  .l-into-5 {
    width: 20%;
  }
  .l-into-6 {
    width: 16.666666666666668%;
  }
  .l-into-7 {
    width: 14.285714285714286%;
  }
  .l-into-8 {
    width: 12.5%;
  }
  .l-into-9 {
    width: 11.11111111111111%;
  }
  .l-into-10 {
    width: 10%;
  }
}
html {
  font-family: 'Cotham Sans IGV Version', sans-serif;
  font-size: 40px;
  letter-spacing: 0.001em;
}
body {
  line-height: 1.4;
}
h1 {
  font-size: 2.617924rem;
  line-height: 1.35;
}
h2 {
  font-size: 2.058106176075472rem;
  line-height: 1.35;
}
h3 {
  font-size: 1.618rem;
}
p {
  margin-bottom: 1rem;
}
.font-italic {
  font-style: italic;
}
.font-bold {
  font-weight: bold;
}
.font-small-caps {
  font-size: 0.85em;
  text-transform: uppercase;
}
.font-capitalize {
  text-transform: capitalize;
}
.text-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}
.margin-top-micro {
  margin-top: 4.944271909998838px;
}
.margin-top-tiny {
  margin-top: 8px;
}
.margin-top-small {
  margin-top: 16px;
}
.margin-top-basic {
  margin-top: 32px;
}
.margin-top-mid {
  margin-top: 56px;
}
.margin-top-large {
  margin-top: 80px;
}
.margin-bottom-micro {
  margin-bottom: 4.944271909998838px;
}
.margin-bottom-tiny {
  margin-bottom: 8px;
}
.margin-bottom-small {
  margin-bottom: 16px;
}
.margin-bottom-basic {
  margin-bottom: 32px;
}
.margin-bottom-mid {
  margin-bottom: 56px;
}
.margin-bottom-large {
  margin-bottom: 80px;
}
.padding-top-micro {
  padding-top: 4.944271909998838px;
}
.padding-top-tiny {
  padding-top: 8px;
}
.padding-top-small {
  padding-top: 16px;
}
.padding-top-basic {
  padding-top: 32px;
}
.padding-top-mid {
  padding-top: 56px;
}
.padding-top-large {
  padding-top: 80px;
}
.padding-bottom-micro {
  padding-bottom: 4.944271909998838px;
}
.padding-bottom-tiny {
  padding-bottom: 8px;
}
.padding-bottom-small {
  padding-bottom: 16px;
}
.padding-bottom-basic {
  padding-bottom: 32px;
}
.padding-bottom-mid {
  padding-bottom: 56px;
}
.padding-bottom-large {
  padding-bottom: 80px;
}
html {
  background-color: #fdfdfd;
  color: #0e0e0e;
}
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}
a {
  font-family: 'Liberation Serif', serif;
  font-style: italic;
}
a:hover {
  font-family: 'Bagnard', serif;
  font-style: normal;
  font-size: 0.9em;
  line-height: 1.35;
}
a:link,
a:visited {
  color: inherit;
}
a:focus {
  outline: none;
}
#header {
  position: relative;
  height: 86vh;
}
#globie,
#legs {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
#globie {
  z-index: 10;
}
#legs {
  z-index: 0;
}
#canvas {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -250px;
  z-index: 0;
  pointer-events: none;
}
#content {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 80vh;
}
.active-es {
  display: none;
}
@media screen and (max-width: 1272px) {
  .container {
    margin: 0 auto;
    width: 1008px;
  }
  .col {
    margin-left: 7px;
    margin-right: 7px;
  }
  .col-1 {
    width: 70px;
  }
  .col-2 {
    width: 154px;
  }
  .col-3 {
    width: 238px;
  }
  .col-4 {
    width: 322px;
  }
  .col-5 {
    width: 406px;
  }
  .col-6 {
    width: 490px;
  }
  .col-7 {
    width: 574px;
  }
  .col-8 {
    width: 658px;
  }
  .col-9 {
    width: 742px;
  }
  .col-10 {
    width: 826px;
  }
  .col-11 {
    width: 910px;
  }
  .col-12 {
    width: 994px;
  }
}
@media screen and (max-width: 1008px) {
  .container {
    width: 90%;
  }
  .col {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  html {
    font-size: 26px;
    letter-spacing: 0.001em;
  }
  body {
    line-height: 1.35;
  }
  h1 {
    font-size: 2.617924rem;
    line-height: 1.15;
  }
  h2 {
    font-size: 2.058106176075472rem;
    line-height: 1.15;
  }
  h3 {
    font-size: 1.618rem;
  }
}
