html,
body {
  width: 100%;
  height: 100%;
  background: #a79ab5;
}
a:link,
a:visited {
  color: #000;
}
a:focus {
  outline: none;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
#skin {
  transition: fill 0.5s;
}
.globieParts {
  cursor: pointer;
}
.blush {
  fill: #f00;
}
.contact {
  margin: 20px;
}
.contact .fa {
  font-size: 36px;
  padding: 4px;
}
.contact a:link {
  transition: color 0.2s;
}
.contact a:hover {
  color: #ffdfdd;
}
