html, body 
    width: 100%
    height: 100%
    background: #A79AB5
    
a:link, a:visited
    color: rgb(0,0,0)
    
a:focus
    outline: none

svg 
    position: absolute
    top: 50%
    left: 50%
    margin-left: -250px
    margin-top: -250px

#skin
    transition: fill .5s

.globieParts 
    cursor: pointer
    
.blush
    fill: #f00
    
.contact
    margin: 20px
    .icon-mail 
        font-size: 36px
        padding: 4px
    a:link
        transition: color .2s
    a:hover
        color: #FFDFDD
