 .container
  width: 90%

.col
  width: 100%
  float: none
  margin-left: 0

// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 26px
$font-size-larger = 1.3rem
$font-size-h3 = golden-ratio(1rem , 1)
$font-size-h2 = golden-ratio(1rem , 1.5)
$font-size-h1 = golden-ratio(1rem , 2)

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = 0.001em
$font-tracking-wider = 0.05em

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)

// ******************************************************

// TYPOGRAPHY

html
  font-family: font-stack('Helvetica')
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1
  font-size: $font-size-h1
  line-height: $font-leading-tighter

h2
  font-size: $font-size-h2
  line-height: $font-leading-tighter

h3
  font-size: $font-size-h3